.btn-primary:hover {
    background-color: green;
}

.container {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}

#carouselExample {
    display: flex;
    align-items: center;
    width: 700px;
    padding-bottom: 25px;
}

@media (min-width: 751px) {
    .card {
        width: 100%;
        height: 100%;
    }

    .title {
        text-align: center;
        color: black;
    }
}

/*Protocolo celular*/
@media (max-width: 750px) {
    
    .card {
        width: 100%;
    }

    .title {
        color: crimson;
    }
}


img {
    height: 8rem;

    /*Propiedad para ajustar tamaño al contenido manteniendo la calidad*/
    object-fit: cover;
}


.btn-primary:hover {
    background-color: green;
}


